body {
    box-sizing: content-box;
    font: caption;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

table {
    border-collapse: collapse;
}

#popup {
    min-width: 310px;
    font-size: 13px;
    font-weight: 400;
    color: #0c0c0d;
    position: relative;
}

#title {
    color: #0996f8;
    font-size: 17px;
    font-weight: 600;
}

#subtitle {
    color: #737373;
    font-size: 13px;
    font-style: italic;
}

#social-plugins-list {
    display: flex;
    justify-content: center;
}

#social-plugins-list input[type="image"] {
    margin: 2px;
}

#social-plugins-list .empty {
    margin-bottom: 2px;
}

#options-list {
    margin: 0 0 0 -3px;
    padding: 2px 0;
    list-style: none;
}

.component {
    margin: 4px 8px;
}

.caption {
    color: #737373;
    margin-bottom: 4px;
}

.summary-list-number {
    float: right;
}

.border-bottom {
    border-bottom: 1px solid #d7d7db;
}

.summary-list {
    margin: 0 4px;
    padding: 0;
    list-style: none;
}

.summary-list > li:first-child {
    margin-top: 4px;
}

.summary-list > li:last-child {
    margin-bottom: 4px;
}

.checkbox-label > input {
    vertical-align: middle;
}

.browser-style > input[type="checkbox"]:not(:checked):hover {
    border-color: #0996f8;
}

.tabs {
    display: flex;
    flex-direction: row;
}

.tab {
    flex: auto;
    border: none;
    outline: none;
    height: 32px;
    padding: 8px;
    text-align: center;
    color: rgba(12, 12, 13, 0.8);
    background-color: #ffffff;
    box-shadow: 0px 2px 0px #ffffff;
    font-size: 13px;
}

.tab:hover {
    background-color: rgba(12, 12, 13, 0.1);
    box-shadow: 0px 2px 0px rgba(12, 12, 13, 0.2);
}

.tab:active {
    background-color: rgba(12, 12, 13, 0.2);
    box-shadow: 0px 2px 0px rgba(12, 12, 13, 0.3);
}

.tab.active {
    box-shadow: 0px 2px 0px #0996f8;
    color: #0a84ff;
}

.hidden {
    display: none;
}

#webidentities-table {
    width: 100%;
    border: 1px solid #b1b1b1;
    margin: 8px 0;
}

#webidentities-table td {
    padding-left: 4px;
}

#webidentities-table tr:hover {
    background: rgba(12, 12, 13, 0.1);
}

#webidentities-table tr.selected {
    background: rgba(97, 181, 255, 0.5);
}

#webidentities-table tr.selected:hover {
    background: rgba(97, 181, 255, 0.75);
}

#select-button, #clear-button, #delete-button {
    margin-bottom: 4px;
}

#select-button {
    margin-right: 4px;
}

#delete-button {
    float: right;
}

#webidentity-search {
    width: 100%;
    height: 28px;
    background-color: #fff;
    border: 1px solid #b1b1b1;
    box-shadow: 0 0 0 0 rgba(97, 181, 255, 0);
    padding: 0 28px 0;
    margin-top: 4px;
    transition-duration: 250ms;
    transition-property: box-shadow;
    font: caption;
    background-image: url("icons/search.svg");
    background-repeat: no-repeat;
    background-position: 6px center;
}

#webidentity-search:focus {
    border-color: #0996f8;
    box-shadow: 0 0 0 2px rgba(97, 181, 255, 0.75);
}

/***********************************/
/* On/Off FlipSwitch from Proto.io */
/* http://proto.io/freebies/onoff/ */
/***********************************/

.onoffswitch {
    position: relative;
    width: 24ch;
    margin: 0 auto;
    padding: 4px 0;
}

.onoffswitch-checkbox {
    display: none;
}

.onoffswitch-label {
    display: block;
    overflow: hidden;
    border-radius: 15px;
}

.onoffswitch-inner {
    width: 200%;
    margin-left: -100%;
    transition: all 0.35s cubic-bezier(0.07, 0.95, 0.6, 1);
    font-weight: 500;
}

.onoffswitch-inner:before, .onoffswitch-inner:after {
    float: left;
    width: 50%;
    color: white;
    height: 4ch;
    line-height: 4ch;
    background: rgba(12, 12, 13, 0.1);
    box-sizing: border-box;
}

.onoffswitch-inner:before {
    content: "Disable for this website";
    color: #0996f8;
    padding-left: 1ch;
}

.onoffswitch-inner:after {
    content: "Enable for this website";
    color: rgba(12, 12, 13, 0.4);
    text-align: right;
    padding-right: 1.25ch;
}

.onoffswitch-switch {
    margin: 0.5ch;
    width: 3ch;
    height: 3ch;
    border: 2px solid #fff;
    border-radius: 13px;
    position: absolute;
    right: 20ch;
    background-color: rgba(12, 12, 13, 0.3);
    transition: all 0.35s cubic-bezier(0.07, 0.95, 0.6, 1);
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
    background: #0996f8;
}
